### 讀取資料
首先，我們用 pandas 讀取最主要的資料 application_train.csv

In [2]:
import os
import numpy as np
import pandas as pd

In [3]:
# 設定 data_path
dir_data = './data/'

#### 用 pd.read_csv 來讀取資料

In [4]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./data/application_train.csv

#### Note: 在 jupyter notebook 中，可以使用 `?` 來調查函數的定義

In [5]:
# for example
?pd.read_csv

#### 接下來我們可以用 .head() 這個函數來觀察前 5 row 資料

In [6]:
app_train.head()

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
0,100002,1,Cash loans,M,N,Y,0,202500.0,406597.5,24700.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
1,100003,0,Cash loans,F,N,N,0,270000.0,1293502.5,35698.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
2,100004,0,Revolving loans,M,Y,Y,0,67500.0,135000.0,6750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
3,100006,0,Cash loans,F,N,Y,0,135000.0,312682.5,29686.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,100007,0,Cash loans,M,N,Y,0,121500.0,513000.0,21865.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0

## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

#### 資料的 row 數以及 column 數

In [14]:
row_number, col_number = app_train.shape
print('Number of data row : %i' % (row_number))
print('Number of data column : %i' % (col_number))

Number of data row : 307511
Number of data column : 122

#### 列出所有欄位

In [16]:
print('Column of data : %s' % (app_train.columns))

Column of data : Index(['SK_ID_CURR', 'TARGET', 'NAME_CONTRACT_TYPE', 'CODE_GENDER',
       'FLAG_OWN_CAR', 'FLAG_OWN_REALTY', 'CNT_CHILDREN', 'AMT_INCOME_TOTAL',
       'AMT_CREDIT', 'AMT_ANNUITY',
       ...
       'FLAG_DOCUMENT_18', 'FLAG_DOCUMENT_19', 'FLAG_DOCUMENT_20',
       'FLAG_DOCUMENT_21', 'AMT_REQ_CREDIT_BUREAU_HOUR',
       'AMT_REQ_CREDIT_BUREAU_DAY', 'AMT_REQ_CREDIT_BUREAU_WEEK',
       'AMT_REQ_CREDIT_BUREAU_MON', 'AMT_REQ_CREDIT_BUREAU_QRT',
       'AMT_REQ_CREDIT_BUREAU_YEAR'],
      dtype='object', length=122)

#### 截取部分資料 (總收入大於 200000 且沒有小孩)

In [23]:
app_train[(app_train['AMT_INCOME_TOTAL'] > 200000.0) & (app_train['CNT_CHILDREN'] == 0)]

,SK_ID_CURR,TARGET,NAME_CONTRACT_TYPE,CODE_GENDER,FLAG_OWN_CAR,FLAG_OWN_REALTY,CNT_CHILDREN,AMT_INCOME_TOTAL,AMT_CREDIT,AMT_ANNUITY,...,FLAG_DOCUMENT_18,FLAG_DOCUMENT_19,FLAG_DOCUMENT_20,FLAG_DOCUMENT_21,AMT_REQ_CREDIT_BUREAU_HOUR,AMT_REQ_CREDIT_BUREAU_DAY,AMT_REQ_CREDIT_BUREAU_WEEK,AMT_REQ_CREDIT_BUREAU_MON,AMT_REQ_CREDIT_BUREAU_QRT,AMT_REQ_CREDIT_BUREAU_YEAR
7,100010,0,Cash loans,M,Y,Y,0,360000.0,1530000.0,42075.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
49,100056,0,Cash loans,M,Y,Y,0,360000.0,1506816.0,49927.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
59,100070,0,Cash loans,M,Y,Y,0,540000.0,1227901.5,46899.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
62,100073,0,Cash loans,M,Y,Y,0,324000.0,1130760.0,40189.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
84,100099,0,Cash loans,F,N,Y,0,360000.0,733315.5,41076.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
94,100112,1,Cash loans,M,Y,Y,0,315000.0,953460.0,64107.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
188,100218,0,Cash loans,M,Y,Y,0,337500.0,876078.0,49050.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
219,100255,0,Cash loans,M,Y,Y,0,315000.0,824544.0,52825.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
225,100262,0,Cash loans,M,Y,Y,0,315000.0,1575000.0,41548.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
236,100274,0,Cash loans,M,Y,Y,0,308250.0,1305000.0,38281.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
280,100323,0,Cash loans,M,Y,Y,0,450000.0,1575000.0,55800.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
288,100333,0,Cash loans,F,N,Y,0,382500.0,450000.0,30204.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
298,100343,0,Cash loans,M,Y,Y,0,315000.0,90000.0,4504.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
309,100355,0,Cash loans,M,N,Y,0,315000.0,946503.0,42898.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
317,100364,0,Cash loans,F,N,N,0,315000.0,1024290.0,30078.0,...,0,0,0,0,0.0,0.0,1.0,0.0,0.0,4.0
319,100366,0,Revolving loans,M,Y,Y,0,765000.0,1350000.0,67500.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
328,100376,0,Cash loans,M,Y,Y,0,360000.0,254700.0,20250.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
332,100380,0,Cash loans,F,N,Y,0,630000.0,900000.0,57519.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
350,100403,0,Cash loans,M,Y,Y,0,315000.0,1350000.0,39604.5,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
366,100421,0,Cash loans,M,Y,N,0,450000.0,900000.0,32017.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
367,100423,0,Cash loans,F,Y,Y,0,472500.0,1327648.5,42957.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,3.0
397,100460,0,Revolving loans,F,N,N,0,315000.0,540000.0,27000.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
405,100469,0,Revolving loans,M,Y,Y,0,450000.0,1350000.0,67500.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
409,100473,0,Cash loans,M,Y,Y,0,405000.0,1483231.5,51687.0,...,0,0,0,0,0.0,0.0,0.0,1.0,1.0,3.0
410,100474,0,Revolving loans,M,Y,N,0,450000.0,900000.0,45000.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
411,100475,0,Revolving loans,F,Y,Y,0,405000.0,495000.0,24750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
416,100480,0,Cash loans,M,N,N,0,450000.0,473760.0,50269.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
429,100496,0,Cash loans,F,N,Y,0,450000.0,1125000.0,33025.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
441,100508,0,Cash loans,F,Y,Y,0,450000.0,1971072.0,62019.0,...,0,0,0,0,0.0,0.0,0.0,0.0,4.0,1.0
485,100559,0,Cash loans,F,Y,Y,0,450000.0,2286211.5,116266.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306961,455633,0,Cash loans,F,N,Y,0,441000.0,1288350.0,37800.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
306986,455666,0,Cash loans,M,Y,N,0,315000.0,364896.0,23724.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307002,455682,0,Cash loans,M,Y,N,0,546250.5,1800000.0,166572.0,...,1,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307006,455686,0,Cash loans,M,Y,N,0,360000.0,526491.0,21267.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
307022,455706,0,Cash loans,M,N,Y,0,540000.0,625536.0,38398.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
307030,455714,0,Cash loans,F,N,Y,0,337500.0,344043.0,23404.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
307058,455743,0,Cash loans,M,N,Y,0,427500.0,1113840.0,60552.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307086,455776,0,Revolving loans,M,Y,Y,0,360000.0,855000.0,42750.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307091,455781,0,Cash loans,F,Y,Y,0,315000.0,305221.5,11637.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,1.0
307109,455801,0,Cash loans,F,N,Y,0,360000.0,685012.5,29151.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,7.0
307110,455806,0,Cash loans,F,N,N,0,450000.0,675000.0,32472.0,...,0,0,0,0,0.0,0.0,0.0,1.0,0.0,0.0
307120,455816,0,Cash loans,F,N,Y,0,360000.0,1159758.0,61920.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,6.0
307129,455825,0,Revolving loans,F,N,Y,0,360000.0,765000.0,38250.0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307142,455839,0,Cash loans,F,Y,Y,0,337500.0,454500.0,20151.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,3.0
307165,455868,0,Cash loans,F,Y,Y,0,337500.0,1890000.0,71986.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,4.0
307182,455885,0,Cash loans,F,N,Y,0,360000.0,229365.0,21163.5,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,2.0
307206,455914,0,Cash loans,F,Y,Y,0,315000.0,1066500.0,31180.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307208,455916,0,Cash loans,F,N,Y,0,315000.0,646920.0,20997.0,...,0,0,0,0,0.0,0.0,0.0,0.0,1.0,1.0
307221,455929,0,Cash loans,F,N,N,0,319500.0,341280.0,21006.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,4.0
307232,455941,0,Cash loans,M,Y,Y,0,315000.0,1007761.5,42826.5,...,0,0,0,0,0.0,0.0,0.0,0.0,3.0,1.0
307258,455975,0,Cash loans,F,N,Y,0,360000.0,673875.0,19309.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,1.0
307292,456015,0,Cash loans,F,Y,Y,0,315000.0,704844.0,32791.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0
307331,456055,0,Cash loans,F,N,Y,0,333000.0,1113840.0,44302.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307335,456060,0,Cash loans,F,N,Y,0,315000.0,567000.0,18418.5,...,0,0,0,0,0.0,0.0,0.0,4.0,0.0,1.0
307392,456125,0,Cash loans,F,N,Y,0,315000.0,1391130.0,77809.5,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307440,456178,0,Cash loans,F,N,Y,0,440100.0,713889.0,45751.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307477,456217,0,Cash loans,F,N,Y,0,360000.0,796396.5,38443.5,...,0,0,0,0,0.0,0.0,0.0,0.0,2.0,1.0
307484,456228,0,Cash loans,F,Y,N,0,540000.0,545040.0,35617.5,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
307492,456236,0,Cash loans,M,Y,Y,0,585000.0,1575000.0,43443.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0
307496,456240,0,Revolving loans,F,N,N,0,360000.0,337500.0,16875.0,...,0,0,0,0,0.0,0.0,0.0,0.0,0.0,2.0